In [ ]:


# print this is fun  
print("this is fun")

this is fun

world

hello

In [ ]:
#single qoute can be also ussed #case sensitive
name = ("MR.collab")
age = 44
print(name)
type(name)
type(age)

MR.collab

int

In [ ]:
name=str("Darth Vader")
print(name)
age=19
print(age)

Darth Vader
19

In [ ]:
pi = 3.14
print(pi)
type(pi)
bool_example = True
print(bool_example)

3.14
True

In [ ]:
bool_example = bool(0)
print(bool_example)
type(bool_example)

False

bool

In [ ]:
icannotdoit = False
print(icannotdoit)
the_ans = 42.01
print(the_ans)

False
42.01

In [ ]:
name = "dartvader"
print(name)
name = str("mr skywalker")
print(name)

dartvader
mr skywalker

In [ ]:
age = "100"
type(age)

str

In [ ]:
age = int("100")
type(age)

int

In [ ]:
print(int(4.9))

4

In [ ]:
print(int(1.12343))

1

In [ ]:
height =str
height = "1.09"
print(height)
height = float(height)
print(height+0.66)

1.09
1.75

In [ ]:
usd = 100
rate = 0.85
eur = usd*rate
eur = int(eur)
print(eur)

85

In [ ]:
age = 44.4
print((age+1)**2)

2061.16

In [ ]:
ashoka = 1.70
yoda = 0.66
r2d2 = 1.09
c3po = 1.75
avg=((ashoka+yoda+r2d2+c3po)/4)
print(avg)

1.3

In [ ]:
name = "ÿoda"
print("your name is "+name)

your name is ÿoda

In [ ]:
height =0.66
age = 900
print("your nameheight and age is "+name+str(height)+str(age))

your nameheight and age is ÿoda0.66900

In [ ]:
name1= "jack"
name2 = "rose"
year =1992
print(name1+" and "+name2+" were on the titanic in "+str(year))

jack and rose were on the titanic in 1992

In [ ]:
principal = 1000
rate = 5
time= 2
print((principal*rate*time)/100)

100.0

In [ ]:
a,b,c = 1,2,3

#minimun_value = max(a,b,c)
print(max(a,b,c)) #for finding min or max value
print(type(c))
a=-1.5
print(round(abs(a))) #for rounding and making the value positive

3
<class 'int'>
2

In [ ]:
a,b,c = 1.7, 0.66 ,1.09
print("the average height "+ str(round((a+b+c))/3))
print("the macimum height "+ str(max(a,b,c)))
print("the minimum height "+ str(min(a,b,c)))

the average height 1.0
the macimum height 1.7
the minimum height 0.66

In [ ]:
name = (input("what is your name")) # this is always string
#using int tomake it integer
print("your name is "+name)
height = int(input("what is your height"))
print("your height is "+height)

what is your namejanak
your name is janak
what is your height15
your height is 15

In [ ]:
def your_name_function(): #function definition
    name = input("what is your name")
    print("your name is "+name)
your_name_function() #function call

what is your namejanak
your name is janak

In [ ]:
def age_of_ray():
  age = input("how old is ray ")
  print("ray's age is "+age)
age_of_ray()

how old is ray 19
ray's age is 19

In [ ]:
name = input("what is your name")
age = int(input("what is "+name+"'s age"))

def age_in_next_year(name,age):
  print(name+"'s age in next year is "+str(age+1))
age_in_next_year(name,age)

what is your namejanak
what is janak's age19
janak's age in next year is 20

In [ ]:
name = input("who was in the titanic")
year = int(input("what year is now"))

def sunk_time(name,year):
  print(name+" were in titanic which  sunk in "+str(year-1912)+"years ago")
sunk_time(name,year)
sunk_time(year=220,name="janak")

who was in the titanicjack
what year is now1920
jack were in titanic which  sunk in 8years ago
janak were in titanic which  sunk in -1692years ago

In [ ]:
def my_age(age="19"):
  print("my age is "+age)

my_age("34")
my_age()

my age is 34
my age is 19

In [ ]:
def convert_f_to_c(f_temp):
  c_temp = (f_temp-32)*5/9
  return c_temp
convert_f_to_c(109)

42.77777777777778

In [ ]:
def c_to_f(c_temp):
  f_temp = (c_temp*9/5)+32
  return f_temp
c_to_f(100)

212.0

level 4 final exercise

In [ ]:
def add(a,b):
  s=a+b
  return s

def sub(a,b):
  s=a-b
  return s

def multiply(a,b):
  m=a*b
  return m

def div(a,b):
  d=a/b
  return d

a=int(input("enter first number : "))
b=int(input("enter second number : "))
o=input("enter the opertaor + - * / :")

if o=="+":
  print("the sum is ",add(a,b))
elif o=="-":
  print("the difference is ",sub(a,b))
elif o=="*":
  print("the product is ",multiply(a,b))
elif o=="/":
        print("the quotient is ",div(a,b))
else :
  print("invalid operator")

enter first number : 1
enter second number : 2
enter the opertaor + - * / :+
the sum is  3

level 5

In [ ]:
#create our list_of_years_experience
list_of_years_experience =[20,30]

#check to see what type of data is list_of_years_experience
print(type(list_of_years_experinece))

In [ ]:
height = [1.7,0.99,1.09]
x= sum(height)
print(x)

TypeError: sum() missing 1 required positional argument: 'b'

In [ ]:
shopping_list = ["milk","eggs","bread","bananas"]
shopping_list.append("apples")#to add in lsit
shopping_list.remove("bread")#to remove
def show_list(shopping_list):
  print(*shopping_list,sep='\n')#to display in each line
show_list(shopping_list)
def total_items(shopping_list):
  print(len(shopping_list))#to find length of the list
total_items(shopping_list)

milk
eggs
bananas
apples
4