elif

In [ ]:
army_size = input("HOw many character are in the army ? please enter 1 2 3")
if army_size == "1":
  print("the army of 1 is weaker tha 2 and 3")
elif army_size == "2":
  print("the army 0f 2 is stronger tha 1 and wealer tha 3")
elif army_size == "3":
  print("the army size is strongest ")
#else :
#print("invalid army size")
elif army_size !="1" or "2" or "3":# or is lower case case sensitive #!= means not equals to
  print("invalid army size")
army_size =int(army_size)
print("the cost of the army is ",str(army_size*10))

if army_size ==1 or army_size == 3:
  print("odd characters")
else:
  print("even characters")

quality = input("good or bad ")
if quality == "good" and army_size == 1:
  print("your army has 1 charcter and is good")
else:
  print("your army is not size 1 and not good")

HOw many character are in the army ? please enter 1 2 31
the army of 1 is weaker tha 2 and 3
the cost of the army is  10
odd characters
good or bad good
your army has 1 charcter and is good

In [ ]:
team=input("write your team 1 2 or 3")
if team=="1":
  print("you picked team 1with 1 character ")
elif team=="2":
  print("you picked team 2 with 2 characters")
elif team=="3":
  print("you picked team 3 with 3 characters")
else:
  print("invalid team")

if team == "1" or "3":
  print("odd no. of characters")
else :
  print("even no. of characters")

write your team 1 2 or 31
you picked team 1with 1 character
odd no. of characters

match and case logic

In [ ]:
army_size = input("HOw many character are in the army ? please enter 1 2 3")
if army_size == "1":
  print("the army of 1 is weaker tha 2 and 3")
elif army_size == "2":
  print("the army 0f 2 is stronger tha 1 and wealer tha 3")
elif army_size == "3":
  print("the army size is strongest ")
#else :
#print("invalid army size")
elif army_size !="1" or "2" or "3":# or is lower case case sensitive #!= means not equals to
  print("invalid army size")
army_size =int(army_size)
print("the cost of the army is ",str(army_size*10))

if army_size ==1 or army_size == 3:
  print("odd characters")
else:
  print("even characters")

quality = input("good or bad ")
match quality :
  case "good":
    match army_size:
      case 1:
        print("your army has 1 charcter and is good")
      case 2:
        print("your army has 2 characters and is good")
      case 3:
        print("your army has 3 characters and is good")

  case "bad":
    match army_size:
      case 1:
        print("your army has 1 charcter and is good")
      case 2:
        print("your army has 2 characters and is good")
      case 3:
        print("your army has 3 characters and is good")

HOw many character are in the army ? please enter 1 2 31
the army of 1 is weaker tha 2 and 3
the cost of the army is  10
odd characters
good or bad good
your army has 1 charcter and is good

In [ ]:
team = input(	"write your team 1 2 or 3 : ")
match team:
  case "1":
    print("you selected team 1 ")
  case "2":
    print("you selected team 2")
  case "3":
    print("you selected team 3")
  case _:#this is default case
    print("invalid team")

write your team 1 2 or 3 : 2
you selected team 2

formatting

In [ ]:
name = input("what is your name ?\n")

what is your name ?
janak

In [ ]:
ticket = input("what is class of ticket do you want  ?select 1 or 3 \n")
print(f"you selected class {ticket} ticket")#instead of using + and "" in every point we use format f and use {}
if ticket == "1":
  price = 800
else :
  price =500

print(type(price))
print(f"the price of your ticket is {price:.2f} dollars")#herre price:.2f is for two decimal points

what is class of ticket do you want  ?select 1 or 3
3
you selected class 3 ticket
<class 'int'>
the price of your ticket is 500.00 dollars

In [1]:
ticket1 = int(input("how many 1st class ticket do you want ?"))
ticket2 = int(input("how many 2nd class ticket do you want ?"))
ticket3 = int(input("how many 3rd class ticket do you want ?"))
price = ticket1*870 + ticket2 * 100.42 + ticket3* 7
print(  f"the total price is {price:.2f} dollars")

how many 1st class ticket do you want ?1
how many 2nd class ticket do you want ?1
how many 3rd class ticket do you want ?1
the total price is 977.42 dollars

slicing

In [6]:
full_name = "Janak Chhatkuli"
first_name = full_name[0:5] #this means we take first 5 characters
last_name = full_name[6:] #this means we take 6th to last characters
print(first_name)
print(last_name)

Janak
Chhatkuli

In [11]:
obj = "Titanic" #printing only c three slicing methodologies
print(obj[-1])
print(obj[6])
print(obj[6:])

c
c
c

for loop

In [15]:
jedi = ["darth vader" , "rey", "yoda", "leia", "mr . skywalker", "Ashoka"]
for x in jedi: #here x is a varis
  print(x)
for x in "janak":
  print(x)

for x in jedi:
  print(x)
  if x == "yoda":
    break

darth vader
rey
yoda
leia
mr . skywalker
Ashoka
j
a
n
a
k
darth vader
rey
yoda

In [16]:
for x in range(1,9):
  print(x)

1
2
3
4
5
6
7
8

In [18]:
kids = ["leia","luke"]
for x in kids:
  print(x+",I am your father")

leia,I am your father
luke,I am your father

while loop

In [21]:
age = 50
while age <=100:
  print("you cannot use lightsaber until y0u are 100, you are "+ str(age))
  age=age +1
  if age >90:
    print("I am  getting old")

you cannot use lightsaber until y0u are 100, you are 50
you cannot use lightsaber until y0u are 100, you are 51
you cannot use lightsaber until y0u are 100, you are 52
you cannot use lightsaber until y0u are 100, you are 53
you cannot use lightsaber until y0u are 100, you are 54
you cannot use lightsaber until y0u are 100, you are 55
you cannot use lightsaber until y0u are 100, you are 56
you cannot use lightsaber until y0u are 100, you are 57
you cannot use lightsaber until y0u are 100, you are 58
you cannot use lightsaber until y0u are 100, you are 59
you cannot use lightsaber until y0u are 100, you are 60
you cannot use lightsaber until y0u are 100, you are 61
you cannot use lightsaber until y0u are 100, you are 62
you cannot use lightsaber until y0u are 100, you are 63
you cannot use lightsaber until y0u are 100, you are 64
you cannot use lightsaber until y0u are 100, you are 65
you cannot use lightsaber until y0u are 100, you are 66
you cannot use lightsaber until y0u are 100, you are 67
you cannot use lightsaber until y0u are 100, you are 68
you cannot use lightsaber until y0u are 100, you are 69
you cannot use lightsaber until y0u are 100, you are 70
you cannot use lightsaber until y0u are 100, you are 71
you cannot use lightsaber until y0u are 100, you are 72
you cannot use lightsaber until y0u are 100, you are 73
you cannot use lightsaber until y0u are 100, you are 74
you cannot use lightsaber until y0u are 100, you are 75
you cannot use lightsaber until y0u are 100, you are 76
you cannot use lightsaber until y0u are 100, you are 77
you cannot use lightsaber until y0u are 100, you are 78
you cannot use lightsaber until y0u are 100, you are 79
you cannot use lightsaber until y0u are 100, you are 80
you cannot use lightsaber until y0u are 100, you are 81
you cannot use lightsaber until y0u are 100, you are 82
you cannot use lightsaber until y0u are 100, you are 83
you cannot use lightsaber until y0u are 100, you are 84
you cannot use lightsaber until y0u are 100, you are 85
you cannot use lightsaber until y0u are 100, you are 86
you cannot use lightsaber until y0u are 100, you are 87
you cannot use lightsaber until y0u are 100, you are 88
you cannot use lightsaber until y0u are 100, you are 89
you cannot use lightsaber until y0u are 100, you are 90
I am  getting old
you cannot use lightsaber until y0u are 100, you are 91
I am  getting old
you cannot use lightsaber until y0u are 100, you are 92
I am  getting old
you cannot use lightsaber until y0u are 100, you are 93
I am  getting old
you cannot use lightsaber until y0u are 100, you are 94
I am  getting old
you cannot use lightsaber until y0u are 100, you are 95
I am  getting old
you cannot use lightsaber until y0u are 100, you are 96
I am  getting old
you cannot use lightsaber until y0u are 100, you are 97
I am  getting old
you cannot use lightsaber until y0u are 100, you are 98
I am  getting old
you cannot use lightsaber until y0u are 100, you are 99
I am  getting old
you cannot use lightsaber until y0u are 100, you are 100
I am  getting old

In [23]:
year=1912
while year<=1984:
  print(f"the year is {year} and nobody has found titanic yet")
  year=year+1

the year is 1912 and nobody has found titanic yet
the year is 1913 and nobody has found titanic yet
the year is 1914 and nobody has found titanic yet
the year is 1915 and nobody has found titanic yet
the year is 1916 and nobody has found titanic yet
the year is 1917 and nobody has found titanic yet
the year is 1918 and nobody has found titanic yet
the year is 1919 and nobody has found titanic yet
the year is 1920 and nobody has found titanic yet
the year is 1921 and nobody has found titanic yet
the year is 1922 and nobody has found titanic yet
the year is 1923 and nobody has found titanic yet
the year is 1924 and nobody has found titanic yet
the year is 1925 and nobody has found titanic yet
the year is 1926 and nobody has found titanic yet
the year is 1927 and nobody has found titanic yet
the year is 1928 and nobody has found titanic yet
the year is 1929 and nobody has found titanic yet
the year is 1930 and nobody has found titanic yet
the year is 1931 and nobody has found titanic yet
the year is 1932 and nobody has found titanic yet
the year is 1933 and nobody has found titanic yet
the year is 1934 and nobody has found titanic yet
the year is 1935 and nobody has found titanic yet
the year is 1936 and nobody has found titanic yet
the year is 1937 and nobody has found titanic yet
the year is 1938 and nobody has found titanic yet
the year is 1939 and nobody has found titanic yet
the year is 1940 and nobody has found titanic yet
the year is 1941 and nobody has found titanic yet
the year is 1942 and nobody has found titanic yet
the year is 1943 and nobody has found titanic yet
the year is 1944 and nobody has found titanic yet
the year is 1945 and nobody has found titanic yet
the year is 1946 and nobody has found titanic yet
the year is 1947 and nobody has found titanic yet
the year is 1948 and nobody has found titanic yet
the year is 1949 and nobody has found titanic yet
the year is 1950 and nobody has found titanic yet
the year is 1951 and nobody has found titanic yet
the year is 1952 and nobody has found titanic yet
the year is 1953 and nobody has found titanic yet
the year is 1954 and nobody has found titanic yet
the year is 1955 and nobody has found titanic yet
the year is 1956 and nobody has found titanic yet
the year is 1957 and nobody has found titanic yet
the year is 1958 and nobody has found titanic yet
the year is 1959 and nobody has found titanic yet
the year is 1960 and nobody has found titanic yet
the year is 1961 and nobody has found titanic yet
the year is 1962 and nobody has found titanic yet
the year is 1963 and nobody has found titanic yet
the year is 1964 and nobody has found titanic yet
the year is 1965 and nobody has found titanic yet
the year is 1966 and nobody has found titanic yet
the year is 1967 and nobody has found titanic yet
the year is 1968 and nobody has found titanic yet
the year is 1969 and nobody has found titanic yet
the year is 1970 and nobody has found titanic yet
the year is 1971 and nobody has found titanic yet
the year is 1972 and nobody has found titanic yet
the year is 1973 and nobody has found titanic yet
the year is 1974 and nobody has found titanic yet
the year is 1975 and nobody has found titanic yet
the year is 1976 and nobody has found titanic yet
the year is 1977 and nobody has found titanic yet
the year is 1978 and nobody has found titanic yet
the year is 1979 and nobody has found titanic yet
the year is 1980 and nobody has found titanic yet
the year is 1981 and nobody has found titanic yet
the year is 1982 and nobody has found titanic yet
the year is 1983 and nobody has found titanic yet
the year is 1984 and nobody has found titanic yet

final exercise : time tracker for tasks

In [26]:
tasks = ["planning","design","coding","testing"]
time_spent = [0,0,0,0]
def log_time(task,time):
  for t in range(len(tasks)):
    if tasks[t] == task:
      time_spent[t]+=time

while True:
  print("Tasks: ",tasks)
  task = input("Enter a task to log time or enter exit ")
  if task == "exit":
    break
  else :
    if task in tasks:
      time = float(input("Enter time spent on task "))
      log_time(task,time)
    else:
      print("Invalid task")

for i in range(len(tasks)):
  print(f"Time spent on {tasks[i]} is {time_spent[i]:.2f} hrs")

Tasks:  ['planning', 'design', 'coding', 'testing']
Enter a task to log time or enter exit planning
Enter time spent on task 2
Tasks:  ['planning', 'design', 'coding', 'testing']
Enter a task to log time or enter exit design
Enter time spent on task 3
Tasks:  ['planning', 'design', 'coding', 'testing']
Enter a task to log time or enter exit coding
Enter time spent on task 4
Tasks:  ['planning', 'design', 'coding', 'testing']
Enter a task to log time or enter exit testing
Enter time spent on task 5
Tasks:  ['planning', 'design', 'coding', 'testing']
Enter a task to log time or enter exit exit
Time spent on planning is 2.00
Time spent on design is 3.00
Time spent on coding is 4.00
Time spent on testing is 5.00