method

In [ ]:
name = str("rey")
print(name.upper())
print(name.lower())
print(name.count("y"))#count the no. of characters etc.
print(name.replace("y","d"))
#dir(name) to know what functions u can use to the variable

REY
rey
1
red

In [ ]:
name = ("C3P0")
print(name.replace("C3P0","R2D2"))

R2D2

In [ ]:
name = " chris"
print(name.upper())#it only changes the string temporarily
print(name)
name.isdigit()#check whether the string is digit or not
name.isalpha()
name.isspace()

 CHRIS
 chris

False

In [ ]:
jacks_name = "Jack"
empty_glass_case = " "
jacks_name.isalpha()
empty_glass_case.isspace()

True

In [ ]:
name = "darth vader"
x= name.split(" ")#it splits from the space
print(x)
type(name)
type(x)
y= "bfajbfguej/fabfuefb/febaufiae"
z=y.split("/",1)#just split upto the psoition given
print(z)

['darth', 'vader']
['bfajbfguej', 'fabfuefb/febaufiae']

In [4]:
name = "jbdfuasjfbasjek\nfsjbgsog\nfjsngiogn\n"
x=name.splitlines()
print(x)

['jbdfuasjfbasjek', 'fsjbgsog', 'fjsngiogn']

In [6]:
name = ("janak"," chhatkuli")
type(name)
x=" thapathali".join(name)#joins tuple with the given string
print(x)

janak thapathali chhatkuli

In [8]:
name = "  janak  "
x= name.strip("k")
print(x)
x=name.strip(" ")
print(x)

  janak
janak

In [10]:
name = "  janak  "
x= name.rstrip()#for lstrip() it strips the space from the left
print(x)
print(x+"Chhatkuli")

  janak
  janakChhatkuli

In [6]:
name = "janak chhatkuli"
x=name.find("h")#it finds the character you want to find
print(x)
x=name.find("a",5,15)
print(x)
x=name.index("j")
print(x)
#the difference between index and find is: when u dont find the chaarcter
#find gives -1 and index gives error
x=name.find("y")
print(x)
#x=name.index("y")
#print(x)

7
9
0
-1

In [23]:
name = "janak chhatkuli"
x=name.replace("janak","mahesh")
print(x)
x.count("h")
print(x)
x=name.startswith("j")
print(x)
x=name.endswith("i")
print(x)

mahesh chhatkuli
mahesh chhatkuli
True
True

In [28]:
name1 = "princess leia"
x=name1.split(" ")
print(x)
name2= "baby yoda"
x=name2.lstrip("baby")
print(x)
name3 = 	"baby yoda"
x=name3.replace("baby","master")
print(x)

['princess', 'leia']
 yoda
master yoda

lambda functions and map

In [36]:
list1 = [1,2,3,4,5]
def sqaure(x):
  return x**2

new_list = []
for i in range(len(list)):
  new_list.append(sqaure(list[i]))
new_list

[1, 4, 9, 16, 25]

In [2]:
list1 = [1,2,3,4,5]
list(map(lambda x : x**2, list1))#lambda function aand map()makes function shorter

[1, 4, 9, 16, 25]

In [3]:
second_list = [(1,2,3),(4,5,6),(7,8,9)]
list(map(lambda x : sum(x), second_list))

[6, 15, 24]

recursion

In [4]:
#n! -> 10 ->10*9*8*......*1
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
factorial(10)

3628800

Final exercise

In [ ]:
# Step 0: Sample chat logs
chat_logs = [
    "My order is delayed",
    "I want to return my order",
    "The app is crashing frequently",
    "Payment issues, please help",
    "Need help with account recovery",
    "Delivery was incomplete",
    "Can't login to my account",
    "Having trouble with checkout"
]
categories = {"Order": 0, "App": 0, "Payment": 0, "Account": 0, "Delivery": 0}
# Step 1: Function to categorize issues
def categorize_issues(chat_logs):
  for log in chat_logs:
    log_lower = log.lower()
    for category in categories.keys():
      if category.lower() in log_lower:
        categories[category] += 1




# Step 2: Function to search by keyword
def keyword_search(keyword,chat_logs):
  result= []
  for log in chat_logs:
    log_lower = log.lower()
    if keyword.lower() in log_lower:
      result.append(log)
      return result



# Step 3: Display and search
print("Issue Categories:\n")
categorize_issues(chat_logs)
for issue in categories:
  print(issue,":",categories[issue],)


keyword = input("\nEnter the search keyword: ")
print("\nchat logs containing keyword: \n")
for key in keyword_search(keyword, chat_logs):
 print(key)