tuple

In [ ]:
tuple1= (1,2,3,4) #smal bracket for tuples
tuple1[3]=10 # tuple obj cannot change values inside it but value of list can be changed
tuple1

TypeError: 'tuple' object does not support item assignment

In [ ]:
user = ("luka ", "luka@gmail.com", "1234567",1)#tuple can use different data types at single time
user.count("luka")
for x in user:
  print(x)

luka
luka@gmail.com
1234567
1

In [ ]:
starting_tuple = ("yoda","han solo ","r2d2", "c3po")
starting_tuple=list(starting_tuple) #changing to list form tuple to append
starting_tuple.append("luke")
starting_tuple=tuple(starting_tuple)
starting_tuple

('yoda', 'han solo ', 'r2d2', 'c3po', 'luke')

dictionaries

In [ ]:
basic_dictionaries= {"0":1, "1":2 , 2:3 } #curly braces for dictionaries
#key : value key can be any type
basic_dictionaries["0"]

1

In [ ]:
user = {"name":"janak" ,"email":"janak@gmail.com" , "number":9841996317}
user["name"]

'janak'

In [ ]:
user = {"name":"janak" ,"email":"janak@gmail.com" , "number":9841996317,"address":{"st_name":"thapachowk","city":"ktm","state":"bagmati"}}
user#dictionary in dictionary
user["address"]

{'st_name': 'thapachowk', 'city': 'ktm', 'state': 'bagmati'}

In [ ]:
user["job_title"] = "junior software engineer"
user
user["number"] = "9841"
user

{'name': 'janak',
 'email': 'janak@gmail.com',
 'number': '9841',
 'address': {'st_name': 'thapachowk', 'city': 'ktm', 'state': 'bagmati'},
 'job_title': 'junior software engineer'}

In [ ]:
user.get("name")
user.items()#display items in dictionaries

dict_items([('name', 'janak'), ('email', 'janak@gmail.com'), ('number', '9841'), ('address', {'st_name': 'thapachowk', 'city': 'ktm', 'state': 'bagmati'}), ('job_title', 'junior software engineer')])

In [ ]:
user.keys() #shows keys only
user.values() #show values only

dict_values(['janak', 'janak@gmail.com', '9841', {'st_name': 'thapachowk', 'city': 'ktm', 'state': 'bagmati'}, 'junior software engineer'])

In [ ]:
number = user.pop("number")

In [ ]:
for b in user.keys():
  print(b)
  print(user[b])

name
janak
email
janak@gmail.com
number
9841996317
address
{'st_name': 'thapachowk', 'city': 'ktm', 'state': 'bagmati'}

In [ ]:
for x in user.items():
  print(x)

('name', 'janak')
('email', 'janak@gmail.com')
('number', 9841996317)
('address', {'st_name': 'thapachowk', 'city': 'ktm', 'state': 'bagmati'})

In [ ]:
dir(user)

In [1]:
alle={"luke":"rebel","darth":"galactic","obi":"jedi"}

level 7 final exercise

In [2]:
# Step 1: Initial menu
menu = {'Burger': ('Main', 10.5), 'Soup': ('Appetizer', 5.0),'ice cream':('desert',5.0),'salad':('complementary',1.0)}





# Step 2: Add dishes
menu.update({'steak':('main',20.0),'soda':('drink',2.0)})

# Step 3: Remove dish
menu.pop('Burger')

# Step 4: Display menu function
def display_menu(menu):
  print("Menu:")
  for dish,info in menu.items():
    print(dish," - ",info[0],": $",str(info[1]))



# Step 5: Count dish types function
def count_dish_types(menu):
  print("Dish type count : ")
  dish_per_category = {}
  for dish,info in menu.items():
    if info[0] in dish_per_category:
      dish_per_category[info[0]] += 1
    else:
        dish_per_category[info[0]] = 1

  return dish_per_category




# Step 6: Update price function
def update_price(menu,dish,price):

  if dish in menu:
    menu[dish]=menu[dish][0],price
  else:
    print(dish," dish does not exist ")

# Step 7: Use all functions to manage menu
display_menu(menu)
print(count_dish_types(menu))
update_price(menu,"Soup",200)

update_price(menu,"weird dish",1000)
display_menu(menu)

Menu:
Soup  -  Appetizer : $ 5.0
ice cream  -  desert : $ 5.0
salad  -  complementary : $ 1.0
steak  -  main : $ 20.0
soda  -  drink : $ 2.0
Dish type count :
{'Appetizer': 1, 'desert': 1, 'complementary': 1, 'main': 1, 'drink': 1}
weird dish  dish does not exist
Menu:
Soup  -  Appetizer : $ 200
ice cream  -  desert : $ 5.0
salad  -  complementary : $ 1.0
steak  -  main : $ 20.0
soda  -  drink : $ 2.0